@if (loadingService.loading$ | async) {
<div class="loading-overlay">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>
} @else {
    <mat-toolbar color="primary">Lista de Héroes</mat-toolbar>
    <div class="hero-list">
        <div class="filter-row">
            <mat-form-field class="filter" appearance="fill">
                <mat-label>Buscar héroe</mat-label>
                <input matInput [formControl]="searchControl">
              </mat-form-field>
              <button class="add-hero-button" mat-raised-button color="primary" (click)="navigateToAddHero()">Añadir Héroe</button>
        </div>
        <div class="table-div">
            <mat-table [dataSource]="heroes" class="table mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        {{element.name}} 
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="gender">
                    <mat-header-cell *matHeaderCellDef> Género </mat-header-cell>
                    <mat-cell class="last-cell" *matCellDef="let element"> 
                        {{element.gender}} 
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                        <mat-cell class="last-cell" *matCellDef="let element">
                            <button mat-raised-button color="accent" (click)="editHero(element.id)">
                                Editar
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-raised-button color="warn" (click)="deleteHero(element.id)">
                                Borrar
                                <mat-icon>delete</mat-icon>
                            </button> 
                        </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[1,3,5,10]"></mat-paginator>
        </div>
    </div>
}

